.footer{
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 130px;
    left: 100px;
}

@media screen and (max-width: 600px){
    .footer{
    padding-right: 200px;
    }
}