.sidebar{
    position: relative;
    bottom: 41px;
    background: green;
    color: white;
    width: 280px;
    height: 80vh;

}
@media screen and (max-width:600px) {
    .sidebar{
        position: relative;
        bottom:63px;
    } 
}